@font-face {
    font-family: javanase-text;
    src: url("./font/javanese-text.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#cabe {
    width: 100%;
    height: 110px;
    background-color: #E7AFBD;
}

nav {
    display: flex;
    width: 100%;
    height: 74px;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    font-size: 20px;
    font-family: javanase-text;
}

#Telaprod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 440px;
    background: #694F56;
}

#imagens {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 40px;
}

.prod {
    display: flex;
    width: 242px;
    height: 262px;
    border-radius: 38px;
    background-color: white;
    transition: all .5s;
}

.prod:hover {
    transform: scale(1.1);
}

#Telaprod p{
    display: flex;
    font-size: 32px;
    color: white;
    margin: 0 auto;
    padding-top: 15px;
    font-family: javanase-text;
}

#sobre {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 30px;
}

#sobre p{
    font-size: 22px;
    padding-left: 50px;
    padding-top: 30px;
    font-family: javanase-text;
}

#sobre img{
    width: 45%;
    height: 45%;

}

